
#form input{
    color: deepskyblue;
    display: block;
    margin: 10px;
    background-color: blanchedalmond;


}

body{
    background-image: url("https://images.pexels.com/photos/413195/pexels-photo-413195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
